<section class="contact">
	<div class="contact__container">
		<h2 class="contact__title">Якщо хочете прийняти участь в курсі</h2>
		<p class="contact__text">чи отримати консультацію - заповніть поля знизу</p>
		<form action="#" class="contact__form form">
			<input
				class="form__field"
				placeholder="Ваш email"
				type="email"
				name="email"
				id="email"
				required
			/>
			<input
				class="form__field"
				placeholder="Ваше ім’я"
				type="text"
				name="name"
				id="name"
				required
			/>
			<button class="btn form__btn shiny-btn" type="submit">
				Отримати скидку
			</button>
		</form>
	</div>
</section>
