<header class="header">
	<div class="header__container container">
		<a width="" height="" href="#" class="header__logo"
			><img src="assets/img/logo.png" alt="logo"
		/></a>
		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li>
						<a href="#" class="nav__link">Головна</a>
					</li>
					<li>
						<a href="#" class="nav__link">Про мене</a>
					</li>
					<li>
						<a href="#" class="nav__link">Тарифи і прграми</a>
					</li>

					<li>
						<a href="#" class="nav__link">Контакти</a>
					</li>
					<li>
						<a href="#">
							<img src="assets/img/telegram.png" alt="" />
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="burger">
			<span></span>
		</div>
	</div>
</header>
