<section class="hero">
	<div class="hero__container container">
		<div class="hero__info">
			<h1 class="hero__title">Досягни гармонії зі своїм тілом</h1>
			<p class="hero__subtitle">
				Якщо ти тут, значить настав час зруйнувати міфи та стереотипи щодо
				харчування та схудення
			</p>
			<span class="hero__text"
				>У це складно повірити, але схуднути можна без суворих обмежень!</span
			>
			<button class="hero__btn btn shiny-btn">Обрати програму</button>
		</div>
		<div class="hero__img">
			<img class="hero__logo" src="assets/img/bigLogo.png" alt="" />
			<img class="hero__girl" src="assets/img/dd.png" alt="" />
		</div>
		<div class="hero__mobile">
			<img src="assets/img/heroMobile.png" alt="girl img" />
		</div>
		<div class="hero__stars">
			<svg class="star star-1 small-star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>

			<svg class="star star-2 small-star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>

			<svg class="star star-3 medium-star">
				<use xlink:href="assets/img/svg/sprite.svg#mediumStar"></use>
			</svg>

			<svg class="star star-4 medium-star">
				<use xlink:href="assets/img/svg/sprite.svg#mediumStar"></use>
			</svg>
		</div>
	</div>
</section>
