<section class="program">
	<div class="program__container container">
		<h2 class="program__title">Які цілі переслідує марафон</h2>
		<p class="program__subtitle">
			Обирай програму на власний смак. Вони всі чудові!
		</p>
		<p class="program__text">
			Мета курсу - зруйнувати міфи та стереотипи щодо харчування та схудення,
			змінити токсичні та шкідливі установки, допомогти людям худнути без
			знущання над собою.
		</p>
		<div class="cards">
			<div class="card-wrapper">
				<div class="card" data-card-standard>
					<img class="card__img" src="assets/img/card1.png" alt="girl" />
					<span class="card__text">Стандарт</span>
				</div>
				<button href="#" class="card__btn epic-btn">
					<span>Прийняти участь</span>
					<span>Прийняти участь</span>
				</button>
			</div>
			<div class="card-wrapper">
				<div class="card" data-card-standard-plus>
					<img class="card__img" src="assets/img/card2.png" alt="girl" />
					<span class="card__text">Стандарт</span>
				</div>
				<button href="#" class="card__btn epic-btn">
					<span>Прийняти участь</span>
					<span>Прийняти участь</span>
				</button>
			</div>
			<div class="card-wrapper">
				<div class="card" data-card-vip>
					<img class="card__img" src="assets/img/card3.png" alt="girl" />
					<span class="card__text">ВІП</span>
				</div>
				<button href="#" class="card__btn epic-btn">
					<span>Прийняти участь</span>
					<span>Прийняти участь</span>
				</button>
			</div>
			<div class="card-wrapper">
				<div class="card" data-card-personal>
					<img class="card__img" src="assets/img/card4.png" alt="girl" />
					<span class="card__text">Персональний</span>
				</div>
				<button href="#" class="card__btn epic-btn">
					<span>Прийняти участь</span>
					<span>Прийняти участь</span>
				</button>
			</div>
		</div>
	</div>
</section>
