<section class="review">
	<div class="review__container container">
		<div class="review__stars">
			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>

			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>
			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>
			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>
			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>
			<svg class="review__star">
				<use xlink:href="assets/img/svg/sprite.svg#smallStar"></use>
			</svg>
		</div>
		<h2 class="review__title">Відгуки</h2>
		<p class="review__subtitle">Зарядись надихаючою історією!</p>
		<div class="review__persons">
			<div class="row">
				<div class="review-person review-person-1" data-review data-index="1">
					<img
						src="assets/img/review1.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-2" data-review data-index="11">
					<img
						src="assets/img/review2.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-3" data-review data-index="4">
					<img
						src="assets/img/review3.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-4" data-review data-index="3">
					<img
						src="assets/img/review4.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
			</div>
			<div class="row">
				<div class="review-person review-person-5" data-review data-index="17">
					<img
						src="assets/img/review5.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-6" data-review data-index="15">
					<img
						src="assets/img/review6.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-7" data-review data-index="12">
					<img
						src="assets/img/review7.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-8" data-review data-index="7">
					<img
						src="assets/img/review8.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-9" data-review data-index="6">
					<img
						src="assets/img/review9.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
			</div>
			<div class="row">
				<div class="review-person review-person-10" data-review data-index="9">
					<img
						src="assets/img/review10.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-11" data-review data-index="5">
					<img
						src="assets/img/review11.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-12" data-review data-index="2">
					<img
						src="assets/img/review12.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-13" data-review data-index="13">
					<img
						src="assets/img/review13.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-14" data-review data-index="14">
					<img
						src="assets/img/review14.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
			</div>
			<div class="row">
				<div class="review-person review-person-15" data-review data-index="8">
					<img
						src="assets/img/review15.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
				<div class="review-person review-person-16" data-review data-index="20">
					<img
						src="assets/img/review16.png"
						alt="review"
						class="review-person__img"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
