<section class="target">
	<div class="target__container container">
		<h2 class="target__title">Які цілі переслідує курс</h2>
		<div class="target__content">
			<div class="target__info">
				<div class="target__list">
					<li class="target__item">
						<img src="assets/img/target1.png" alt="" />
						<span>на шляху прийняття свого тіла та його особливостей</span>
					</li>
					<li class="target__item">
						<img src="assets/img/target2.png" aria-hidden="true" />
						<span>усвідомити власну цінність</span>
					</li>
					<li class="target__item">
						<img src="assets/img/target3.png" aria-hidden="true" />
						<span>знайти вторинні вигоди</span>
					</li>
					<li class="target__item">
						<img src="assets/img/target4.png" aria-hidden="true" />
						<span>змінити звички</span>
					</li>
					<li class="target__item">
						<img src="assets/img/target5.png" aria-hidden="true" />
						<span>навчитися чути свій організм та його потреби</span>
					</li>
					<li class="target__item">
						<img src="assets/img/target6.png" aria-hidden="true" />
						<span
							>усвідомити проблеми в своїй харчовій поведінці та допомогти
							знайти рішення</span
						>
					</li>
					<li class="target__item">
						<img src="assets/img/target7.png" aria-hidden="true" />
						<span
							>критично ставитися до інформації, бо ніхто не знає твоє тіло
							краще ніж ти</span
						>
					</li>
				</div>
			</div>
			<div class="target__img">
				<img src="assets/img/targetGirl.png" alt="girl photo" />
			</div>
		</div>
	</div>
</section>
