.hero {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 40px;
	@media screen and (max-width: $medium) {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
	&__container {
		display: flex;
		position: relative;
		@media screen and (max-width: $medium) {
			flex-direction: column;
			gap: 100px;
		}
		@media screen and (max-width: 650px) {
			align-items: center;
			gap: 50px;
		}
	}

	&__info {
		position: relative;
		z-index: 3;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $medium) {
			max-width: 900px;
		}
		@media screen and (max-width: 650px) {
			align-items: center;
		}
	}

	&__title {
		margin-bottom: 60px;
		color: $black;
		font-size: 72px;
		font-weight: 700;
		line-height: 120.4%;
		@media screen and (max-width: $medium) {
			text-align: center;
		}
		@media screen and (max-width: 650px) {
			margin-bottom: 20px;
			text-align: center;
			font-size: 28px;
			line-height: 100.4%;
		}
	}

	&__subtitle {
		max-width: 500px;
		margin-bottom: 81px;
		color: $black;
		font-size: 30px;
		line-height: 120.4%;
		@media screen and (max-width: $medium) {
			text-align: center;
			max-width: 100%;
		}
		@media screen and (max-width: 650px) {
			max-width: 250px;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 103.9%;
		}
	}

	&__text {
		max-width: 380px;
		margin-bottom: 96px;
		color: $black;
		font-size: 20px;
		font-weight: 500;
		line-height: 120.4%;
		@media screen and (max-width: $medium) {
			text-align: center;
			max-width: 100%;
		}
		@media screen and (max-width: 650px) {
			max-width: 247px;
			margin-bottom: 22px;
			font-size: 12px;
			font-weight: 300;
			line-height: 97.9%;
		}
	}

	&__btn {
		padding: 26px 54px;
		color: #fdfbfb;
		font-size: 32px;
		line-height: 120.4%;
		@media screen and (max-width: $medium) {
			margin: 0 auto;
		}
		@media screen and (max-width: 650px) {
			padding: 8px 12px;
			font-size: 11.73px;
			line-height: 120.4%;
		}
	}

	&__img {
		position: absolute;
		right: 140px;
		top: 60px;
		width: 560px;
		height: 560px;
		flex-shrink: 0;
		@media screen and (max-width: 1250px) {
			top: 100px;
			right: 0px;
		}
		@media screen and (max-width: $medium) {
			width: 400px;
			height: 400px;
			position: relative;
			order: -1;
			margin: 0 auto;
		}

		@media screen and (max-width: 650px) {
			margin-left: 40px;
		}
		@media screen and (max-width: 550px) {
			width: 300px;
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			width: 561px;
			height: 561px;
			border-radius: 50%;
			background: transparent;
			border: 15px solid #feacae;
			top: 1px;
			border-color: transparent #feacae #feacae;
			@media screen and (max-width: $medium) {
				width: 400px;
				height: 400px;
			}
			@media screen and (max-width: 650px) {
				width: 300px;
				height: 300px;
				left: 60%;
				transform: translateX(-50%);
			}
			@media screen and (max-width: 550px) {
				left: 55%;
			}
			@media screen and (max-width: 400px) {
				left: 45%;
			}
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			width: 561px;
			height: 561px;
			border-radius: 50%;
			background: transparent;
			border: 15px solid #feacae;
			top: 1px;
			z-index: -2;
			border-color: #feacae #feacae;
			@media screen and (max-width: $medium) {
				width: 400px;
				height: 400px;
			}

			@media screen and (max-width: 650px) {
				width: 300px;
				height: 300px;
				left: 60%;
				transform: translateX(-50%);
			}
			@media screen and (max-width: 550px) {
				left: 55%;
			}
			@media screen and (max-width: 400px) {
				left: 45%;
			}
		}
		.ellipse {
			position: absolute;
			z-index: -1;
		}
		.hero__logo {
			position: absolute;
			z-index: -1;
			width: 700px;
			right: 130px;
			@media screen and (max-width: 650px) {
				width: 300px;
				right: 80px;
			}
			@media screen and (max-width: 550px) {
				right: 50px;
			}
			@media screen and (max-width: 400px) {
				right: 80px;
			}
		}
		.hero__girl {
			position: absolute;
			z-index: -1;
			top: -251px;
			@media screen and (max-width: $medium) {
				top: -212px;
			}
			@media screen and (max-width: 650px) {
				width: 300px;
				left: 86px;
				top: -160px;
			}
			@media screen and (max-width: 550px) {
				left: 0;
			}
			@media screen and (max-width: 400px) {
				left: -28px;
			}
		}
	}
}

.btn {
}

.star {
	position: absolute;
	fill: #feacae;
	// z-index: 999999;
	@media screen and (max-width: $tablet) {
		width: 16px !important;
		height: 26px !important;
	}
}
.star-1 {
	@media screen and (max-width: $medium) {
		left: 650px;
		top: 6px;
	}
	left: 293px;
	top: -62px;
	z-index: -1;
}
.star-2 {
	bottom: -25px;
	left: 670px;
	@media screen and (max-width: $medium) {
		top: 50px;
		left: 70px;
	}
	@media screen and (max-width: 450px) {
		left: 10px;
		top: 0;
	}
}
.star-3 {
	right: 142px;
	top: -82px;
	@media screen and (max-width: $medium) {
		right: 50px;
		top: 200px;
	}
	@media screen and (max-width: 780px) {
		right: 50px;
	}
}
.star-4 {
	bottom: 169px;
	left: 400px;
	@media screen and (max-width: $medium) {
		top: 300px;
		left: 30px;
	}
	@media screen and (max-width: 650px) {
		top: 250px;
		left: 50px;
	}
}
.small-star {
	width: 40px;
	height: 63px;
}

.medium-star {
	width: 63px;
	height: 63px;
}
